/* Reset default margin and set box-sizing */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Center the page content */
#page-wrapper {
    width: 80vw;
    margin: 0 auto;
}

/* Header styles */
header {
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    background-color: #222222;
    color: white;
    align-items: flex-start;
}

/* Two-column container styles */
#content {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #334464;
}

/* Navigation styles */
nav {
    width: 30%;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #312f36;
    font-size: calc(2px + 2vw);
    text-align: center;
    list-style: none;
    padding-left: 0;
}

nav li {
    font-size: calc(2px + 2vw);
    width: 90%;
    background-color: white;
    padding: 2vh 0;
    margin: 5vh auto;
}

nav a {
    text-decoration: none;
    color: black;
}

/* Main content area styles */
main {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #334464;
}

main p {
    margin: 0 1vw;
    font-size: calc(10px + 1vw);
    color: white;
}

/* Profile image styles */
#profile-image {
    max-width: 100%;
}

/* Main section layout */
#main {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1vh 1vw;
}

#main-text {
    align-self: center;
    width: 60%;
    margin: 1vh 1vw;
}

#main-image {
    width: 40%;
    margin: 1vh 1vw;
}

#main-title {
    margin: 2vw 0;
    text-align: center;
    font-size: calc(6px + 2vw);
    color: white;
}

/* Footer styles */
footer {
    background-color: #222222;
    color: white;
    padding: 1vh 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* removing the hyperlink of the Credits and making it the same color as the rest of the footer */
footer a {
    color: white;
    text-decoration: none;
}

/* Underlines the Credits when User hovers over with mouse */
footer a:hover {
    text-decoration: underline;
}

/* Media query for responsive design */
@media screen and (max-width: 900px) {
    /* Adjust header alignment */
    header {
        align-items: center;
    }

    /* Change layout to single column */
    #content {
        width: 100%;
        height: 100vh;
        flex-direction: column;
    }

    /* Adjust navigation for mobile */
    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #312f36;
        list-style: none;
        padding-left: 0;
    }

    nav li {
        font-size: calc(2px + 1.5vw);
        background-color: white;
        padding: 1% .5%;
        margin: 1% .5%;
    }

    nav a {
        text-decoration: none;
        color: black;
    }

    /* Adjust main content area for mobile */
    main {
        width: 100%;
    }

    main p {
        margin: 2% 2%;
        font-size: calc(2px + 2vw);
        color: white;
    }

    /* Adjust profile image for mobile */
    #profile-image {
        max-width: 100%;
    }

    /* Change main section layout for mobile */
    #main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #main-text {
        align-self: center;
        width: 100%;
        margin: 1vh 1vw;
    }

    #main-image {
        margin: 1vh auto;
    }

    #main-title {
        text-align: center;
        color: white;
    }
}
